# Arrumando o CSV de Fevereiro/2020

In [1]:
# Importando os pacotes necess√°rios
import pandas as pd

# Lendo o arquivo .CSV
df_feb = pd.read_csv('source/5.2020-Feb.csv')

In [2]:
# Visualizando as 5 primeiras linhas do 'df_oct'
df_feb.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-02-01 00:00:01 UTC,cart,5844305,1487580006317032337,NaN,NaN,2.14,485174092,4be9643a-420b-4c6b-83dd-a15e772fbf7a
1,2020-02-01 00:00:03 UTC,view,5769925,1487580013841613016,NaN,kapous,4.22,594621622,a88baf11-9cd0-4362-bde4-1bfeed3f641d
2,2020-02-01 00:00:08 UTC,view,5817765,1487580008246412266,NaN,zeitun,11.03,495404942,3a569c8d-d848-4f09-a925-33f673d84c46
3,2020-02-01 00:00:11 UTC,view,5877033,1487580010100293687,NaN,milv,3.49,564814969,7feb39e5-bb7b-4b2b-a546-3e3b7c56326e
4,2020-02-01 00:00:12 UTC,cart,5814871,1487580008112194531,NaN,zinger,2.54,551205603,106a7c7f-7fa1-4463-8bec-0ea7b02191cb

In [3]:
# Dividindo a coluna 'event_time' em 3 novas colunas
df_feb[['Data', 'Hora', 'Zona']] = df_feb['event_time'].str.split(' ', expand=True)

In [4]:
# Excluindo as colunas 'event_time' e 'Zona'
df_feb = df_feb.drop(columns=['event_time', 'Zona'])

# Visualizando as 5 primeiras linhas do 'df_oct'
df_feb.head()

,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,Data,Hora
0,cart,5844305,1487580006317032337,NaN,NaN,2.14,485174092,4be9643a-420b-4c6b-83dd-a15e772fbf7a,2020-02-01,00:00:01
1,view,5769925,1487580013841613016,NaN,kapous,4.22,594621622,a88baf11-9cd0-4362-bde4-1bfeed3f641d,2020-02-01,00:00:03
2,view,5817765,1487580008246412266,NaN,zeitun,11.03,495404942,3a569c8d-d848-4f09-a925-33f673d84c46,2020-02-01,00:00:08
3,view,5877033,1487580010100293687,NaN,milv,3.49,564814969,7feb39e5-bb7b-4b2b-a546-3e3b7c56326e,2020-02-01,00:00:11
4,cart,5814871,1487580008112194531,NaN,zinger,2.54,551205603,106a7c7f-7fa1-4463-8bec-0ea7b02191cb,2020-02-01,00:00:12

In [5]:
# Reorganizando as colunas
df_feb = df_feb[['Data', 'Hora', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']]

# Visualizando as 5 primeiras linhas do 'df_oct'
df_feb.head()

,Data,Hora,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-02-01,00:00:01,cart,5844305,1487580006317032337,NaN,NaN,2.14,485174092,4be9643a-420b-4c6b-83dd-a15e772fbf7a
1,2020-02-01,00:00:03,view,5769925,1487580013841613016,NaN,kapous,4.22,594621622,a88baf11-9cd0-4362-bde4-1bfeed3f641d
2,2020-02-01,00:00:08,view,5817765,1487580008246412266,NaN,zeitun,11.03,495404942,3a569c8d-d848-4f09-a925-33f673d84c46
3,2020-02-01,00:00:11,view,5877033,1487580010100293687,NaN,milv,3.49,564814969,7feb39e5-bb7b-4b2b-a546-3e3b7c56326e
4,2020-02-01,00:00:12,cart,5814871,1487580008112194531,NaN,zinger,2.54,551205603,106a7c7f-7fa1-4463-8bec-0ea7b02191cb

In [6]:
# Salvando o df num arquivo .CSV
df_feb.to_csv('2020Feb_SQL.csv', index=False)

Esse arquivo criado ir√° servir como base para unificarmos os arquivos em outro Notebook